@import "../../../styles/base";

.container-drawer {
  @media screen and (max-width: $device-max-width) {
    width: 320px;
  }
  @media screen and (min-width: $pc-min-width) {
    width: $view-max-width / 2;
  }
  padding: 20px;

  .phone-title {
    font-weight: 400;
  }
}
