@import "../../../styles/base";

.navigation-bar {
  font-size: 1.5em;
  color: $color-white;
}

.brand-link {
  text-decoration: none;
  color: inherit;

  &:hover {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
  }
}
