@import "../../styles/base";

.container-color {
  text-align: center;
  
  .square {
    width: 20px;
    height: 20px;
    border: 0.5px $color-border solid;
    border-radius: 5px;
    display: inline-block;
  }
}
