// colors
$color-white: #FFFFFF;

// primary, secondary
$color-primary: #17B4E3;
$color-secondary: #fc5320;

// Components
$view-max-width: 1200px;
$device-max-width: 320px;
$pc-min-width: 650px;


// Misc
$color-text: #333333;
$color-border: #DEDEDE;
$color-body-bg: #F5F5F5;
